# CodeIgniter
.env
.env.*
!.env.example

# Session files
writable/session/*
!writable/session/.gitkeep

# Docker
.env.docker
docker-compose.yml

# Data directories
data/postgres/*
data/pgadmin/*
!data/.gitkeep
data/mysql/*
docker/data/*

 
# Logs
*.log
xdebug.log

# Git
.git/objects/*

# SSL files
docker/config/ssl/*.key
docker/config/ssl/*.crt
docker/config/ssl/*.pem
docker/config/backup/*